@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* 
{ 
  
   margin:0;
   padding:0;
   font-family:'Poppins',sans-serif;  
   background:#1d3247; 
   color:bisque;   
}
.main{
  display: table;
  table-layout: fixed;
  width:90%;
  height:100px;
}
nav
{ background:#1d3247;
  min-height:10vh;
  margin:auto;
  display:flex;
  justify-content:space-between;
  
}
nav .logo
{ 
   margin:10px;
   font-weight:600;
   color: bisque;
   text-decoration: none;
   font-size:2em;
   text-transform:uppercase;
   transition:0.6s;
}
nav h1,
nav ul
{ font-size:1.5rem;
  flex:1;
}
nav ul{
  list-style:none;
  display:flex;
  align-items:center;
  justify-content: space-evenly;
}
nav li a{
 text-decoration:none;
  
}
nav li a:hover {
    
    color: #BC519E;
    padding:5px 5px 0;
    border: 2px solid #BC519E;
}
header 
{
   box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
   position:fixed;
   top:0px;
   width:100%;
   z-index:10000;
}

 .about,.skills{
   padding-left:60px;
  padding-top: 90px;
  padding-bottom: 90px;
  margin:50x;
  position:relative;
  width:100%;
  background:#1d3247;
  
    }
 .skills{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
   }
   .skills ul{
      margin-top:20px;
      justify-content:space-evenly;
      list-style-type: none;
      }
  .skills ul li::before {
   content: "\00BB";
  color: #BC519E;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}
 .about{
  
    display:flex;
    flex-direction:row;
    align-items:center;
   justify-content:center;
    }
 .photo{ 
  
    margin:10px ;
    display:flex;
    flex-direction:row;
    padding:5px;
    border: 2px solid #BC519E;
    place-items:left;
   width: 25vw;

}
img{
  width:100%
}
.about p{
   font-size:1.2em;
   place-items:center;
   margin: 10px;
   padding:10px;
   border-left: solid 2px #BC519E;
}
.about h3{
  font-size:1.5em;
   margin: 10px;
}

.skills h3{
  font-size:1.5em;
   width:100%;
   margin: 10px;
  
}

.skills ul{
   border-top: solid 2px #BC519E;
   float:left;
}



.content h3
{ margin:5px;
  color: bisque;
  font-size: 2.5em;
  
}
.content h3 span
{
  color: #BC519E;
  font-size:1.5em;
}
.content p
{
  font-size:1.5em;
  color: bisque;
  font-weight:300;
}

.sci
{ background:transparent;
  bottom:5px;
  padding 0;
  position:fixed;
  display:flex;
  flex-direction:column;
  z-index:1000;
  right:25px; 
}
.sci::after
{
  content:"";
  margin: 5px auto;
  display:block;
  width:2px;
  height:200px;
  background-color: bisque;
}
.sci li
{ 
   background:transparent;
  list-style: none;
}
.sci svg
{
  display: grid;
  background:transparent;
  place-items:bottom;
  width: 25px;
  height:25px;
  fill: bisque;
  margin:20px 0 0;
}
.sci svg:hover
{
  fill : #BC519E;
}


.banner
{ overflow-x:hidden;
  position:relative;
  width:100%;
  padding-left: 100px;
  padding-top: 150px;
  padding-bottom: 100px;
  background:#1d3247;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.contact{
  padding-left:60px;
  padding-top: 90px;
  margin-left:30px;
  /* margin:0 auto; */
  width:100%;
  position:relative;
}
  .contact h3
  {
   font-size:1.9em;
  }
.social{
  justify-content:center;
  display:none;
  }
.social li{
  background:transparent;
  list-style:none;
}
.social svg
{   background:transparent;
  position:relative;
  place-items:center;
  width: 25px;
  height:25px;
  fill: bisque;

  margin:20px;
  
}
.social svg:hover
{
  fill : #BC519E;
}

footer 
{
   box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
   flex:1;
   position:absolute;
   width:100%;
   margin 0 auto;
   right:0;
   left:0;
   background:#1d3247;
   text-align:center;
   z-index:100; 
   
}
.foot{
    width: 100%;
    background-color: #1d3247;
    color: bisque;
    padding: 1rem 0;
    font-size: 1.3rem;
    text-align: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
}
 .foot a{text-decoration: none;
    color: bisque;
    display: inline-block;
    font-size: 1.3rem;
    margin: auto 1.5rem;
}
.foot a:hover{
   
    color: #BC519E;
    text-decoration: underline;
}

 
@media only screen and (max-width: 900px) {
  nav .logo{
 margin-left:10px;
 margin-top:10px;
  }
  .banner
  {
   padding: 100px 20px 150px;
  }
  .contact h3,.banner h3
  {
   font-size:1.9em;
  }
  .banner .content p,
  .banner .content a
  {
   font-size: 1.2em;
  }
  .social{
    display: flex;
    flex-direction:row;
  }
  .sci
  {
    position: absolute;
    bottom:50px;
    right: initial;
    flex-direction: row;
  }
  .sci::after
  {
    display:none;
  }
  .sci li svg
  { justify-content: space-between;
   margin:initial;
   margin-right: 50px;
  }
  .contact {
      overflow-x:hidden;
      right:0;
      width: 100%;
      margin-left:30px;
      padding: 0;
    }
  .contact h3
  {
   font-size:1.2em;
  }
    .foot {
        padding: 1rem 0;
        font-size: 1rem;
    }
    .about  {  
     display:flex;
     flex-direction: column; 
     bottom:20px;
     right: initial;
    
    }
 
}

@media only screen and (max-width: 500px) {
  
  
nav{
   display:flex;
   flex-direction: row; 
}
nav h1,
nav ul
{ font-size:1rem;
  flex:1;
}
nav .logo{
margin-left:10px;
margin-top:10px;
  }
  .photo{
   width: 30vh;
      
  }
  .banner{
    margin-left:10px;
    margin-top:10px;
  }
  .about, .skills{
   padding-left:30px;
   padding-top:50px;
   /* margin-left:0; */
   overflow-x:hidden;
 }
 .skills ul li::before {
  margin-left: 1em;
}
.about h3,.skills h3,{
  font-size:1.2em;
}
 .foot, .foot a{
      overflow-x:hidden;
   font-size:1em;
   text-align:center;
   margin:0;
 }
 
}
